html {
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    overflow: auto;
    height: 100%;
    margin: 0;
    width: 100vw;
    background-color: #C3C3C3;
}

#header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 3vw;
}

#mainContent {
    border-top: 2px solid black;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#deviceList {
    height: 100%;
    min-width: 135px;
    width: 20%;
}

#deviceListEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#deviceListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
}

#deviceDashboard {
    border-left: 2px solid black;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2vh;
}

#deviceDashboardEntry {
    background-color: #CED2CC;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-top: 2vh;
}

#addDevicePopup {
    background-color: #CED2CC;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 80vw;
    max-width: 500px;
    height: 30vh;
    min-height: 600px;
    display: none;
}

#addDevicePopup.active {
    display: flex;
}

#addDeviceHeader {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#addDeviceClose {
    align-self: flex-end;
    padding-left: 1vw;
    padding-bottom: 4px;
    cursor: pointer;
}

#popupTitle {
    margin: auto;
}