html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
    margin: 0;
    width: 100vw;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

#header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 3vw;
}

#mainContent {
    border-top: 2px solid black;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#deviceList {
    height: 100%;
    min-width: 135px;
    width: 20%;
}

#deviceListEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
}

#deviceListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
}

#deviceDashboard {
    border-left: 2px solid black;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2vh;
}

#deviceDashboardEntry {
    background-color: #CED2CC;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-top: 2vh;
}

#addDevicePopup {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#addDevicePopup.active {}