body {
    margin: 0;
    width: 100vw;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

#header {
    width: 100%;
    height: 8vh;
}

#mainContent {
    border-top: 1px solid black;
    width: 100%;
    height: 92vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#deviceList {
    height: 100%;
    min-width: 20%;
}

#deviceListEntry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
}

#deviceListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid black;
}

#deviceDashboard {
    border-left: 2px solid black;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
}

#deviceDashboardEntry {
    background-color: #CED2CC;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    margin-top: 2vh;
}
